.App {

  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50;
  color: white;;
}

/*color: #61dafb*/
img {
  width: 350px;
  height: 350;
  border-radius: 700px;
}
button{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(143, 215, 218) 
  ;
}
